<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ aardvark-seo:head }}

        <link rel="stylesheet" href="{{ mix src='css/app.css' }}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        {{ livewire:styles }}
    </head>
    <body class="bg-gray-50">

        {{ partial:partials/header }}

        {{ template_content }}

        {{ partial:partials/footer }}

        <script src="{{ mix src='/js/front.js' }}"></script>
        {{ livewire:scripts }}
    </body>

</html>
