/* DATE PICKER START */

.date-input {
    --bg-opacity: 1;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    border-radius: 0.25rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    font-size: 0.75rem;
    z-index: 2000;
    margin: 3px 0 0 0
  }

  .date-input.is-hidden {
    display: none;
  }

  .date-input .pika-title {
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: center;
  }

  .date-input .pika-prev,
      .date-input .pika-next {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --text-opacity: 1;
    color: #036672;
    color: rgba(3, 102, 114, var(--text-opacity));
    cursor: pointer
  }

  .date-input .pika-prev:hover, .date-input .pika-next:hover { text-decoration: underline;
  }

  .date-input .pika-prev {
    float: left;
  }

  .date-input .pika-next {
    float: right;
  }

  .date-input .pika-label {
    display: inline-block;
    font-size: 0;
  }

  .date-input .pika-select-month,
      .date-input .pika-select-year {
    display: inline-block;
    border-width: 1px;
    --text-opacity: 1;
    color: #161e2e;
    color: rgba(22, 30, 46, var(--text-opacity));
    --bg-opacity: 1;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    font-size: 0.75rem;
    font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none
  }

  .date-input .pika-select-month:focus, .date-input .pika-select-year:focus {
    border-color: #F43F5E;
    box-shadow: 0 0 0 1px #F43F5E;
  }

  .date-input .pika-select-month {
    margin-right: 0.25rem;
  }

  .date-input select {
    background-position: right 0rem center;
  }

  .date-input table {
    width: 100%;
    border-collapse: collapse
  }

  .date-input table th {
    font-weight: 400;
    --text-opacity: 1;
    color: #4b5563;
    color: rgba(75, 85, 99, var(--text-opacity));
    text-align: center;
    width: 2rem;
    height: 2rem
  }

  .date-input table th abbr {
    text-decoration: none;
  }

  .date-input table td {
    border-width: 1px;
    --border-opacity: 1;
    border-color: #e5e7eb;
    border-color: rgba(229, 231, 235, var(--border-opacity))
  }

  .date-input table td button {
    display: block;
    --text-opacity: 1;
    color: #252f3f;
    color: rgba(37, 47, 63, var(--text-opacity));
    text-align: center;
    width: 2rem;
    height: 2rem
  }

  .date-input table td button:hover { --bg-opacity: 1; background-color: #e5e7eb; background-color: rgba(229, 231, 235, var(--bg-opacity));
  }

  .date-input table td.is-today {
    --bg-opacity: 1;
    background-color: #e5e7eb;
    background-color: rgba(229, 231, 235, var(--bg-opacity));
  }

  .date-input table td.is-selected {
    --bg-opacity: 1;
    background-color: #0694a2;
    background-color: rgba(6, 148, 162, var(--bg-opacity))
  }

  .date-input table td.is-selected button {
    --text-opacity: 1;
    color: #ffffff;
    color: rgba(255, 255, 255, var(--text-opacity))
  }

  .date-input table td.is-selected button:hover { --bg-opacity: 1; background-color: #047481; background-color: rgba(4, 116, 129, var(--bg-opacity));
  }

  /* DATE PICKER END */
